@media(max-width:1550px) {
    .container {
        width: 1400px;
    }
    .profit {
        &__item {
            max-width: 440px;
            &-img {
                width: 415px;
                height: 240px;
            }
            &-descr {
                font-size: 30px;
            }
        }
    }
    .term {
        &__img {
            width: 500px;
            height: 365px;
        }
        &__info {
            max-width: 760px;
        }
        &__list {
            font-size: 28px;
        }
    }
    .loss {
        &__products {
            font-size: 38px;
        }
        &__item {
            font-size: 35px;
        }
    }
    .occupation {
        &__title {
            font-size: 50px;
        }
        &__item {
            &-img {
                max-width: 480px;
                height: auto;
            }
        }
        &__lists {
            max-width: 820px;
        }
        &__list {
            font-size: 25px;
        }
    }
}
@media(max-width: 1400px) {
    .container {
        width: 1200px;
    }
    .header {
        &__logo {
            max-width: 245px;
            min-height: 85px;
        }
        &__contacts {
            width: 290px;
            &-logo {
                max-width: 60px;
                min-height: 45px;
            }
            &-phone {
                font-size: 20px;
            }
            &-mail {
                font-size: 20px;
            }
        }
    }
    .about {
        &__info {
            &-header {
                max-width: 993px;
                font-size: 30px;
                line-height: 40px;
            }
            &-basic {
                font-size: 40px;
                line-height: 44px;
            }
            &-footer {
                max-width: 993px;
                font-size: 30px;
                line-height: 40px;
            }
        }
    }
    .example {
        &__tech {
            max-width: 769px;
        }
        &__title {
            max-width: 400px;
            font-size: 20px;
        }
        &__descr {
            max-width: 769px;
            font-size: 18px;
        }
        &__get {
            max-width: 600px;
            font-size: 30px;
        }
        &__plus {
            font-size: 30px;
        }
        &__equipment {
            font-size: 20px;
        }
        &__technologes {
            font-size: 20px;
        }
    }
    .profit {
        &__item {
            max-width: 350px;
            &-img {
                width: 320px;
                height: 180px;
            }
            &-descr {
                font-size: 25px;
            }
        }
    }
    .term {
        &__img {
            width: 460px;
            height: 335px;
        }
        &__info {
            max-width: 630px;
        }
        &__list {
            font-size: 24px;
        }
    }
    .loss {
        &__products {
            font-size: 38px;
        }
        &__item {
            font-size: 35px;
        }
    }
    .information {
        &__header {
            font-size: 24px;
        }
        &__section {
            &-title {
                font-size: 24px;
            }
            &-list {
                font-size: 24px;
            }
        }
        &__example {
            &-header {
                font-size: 24px;
            }
            &-list {
                font-size: 24px;
            }
        }
        &__degision {
            font-size: 24px;
        }
    }
    .occupation {
        &__title {
            font-size: 45px;
        }
        &__item {
            &-img {
                max-width: 360px;
                height: auto;
            }
        }
        &__lists {
            max-width: 740px;
        }
        &__list {
            font-size: 20px;
            line-height: 28px;
            margin-top: 10px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }
    .footer {
        &__logo {
            max-width: 245px;
            min-height: 85px;
        }
        &__contacts {
            width: 290px;
            &-logo {
                max-width: 60px;
                min-height: 45px;
            }
            &-phone {
                font-size: 20px;
            }
            &-mail {
                font-size: 20px;
            }
        }
    }
}
@media(max-width: 1200px) {
    .container {
        width: 993px;
    }
    .header {
        &__logo {
            max-width: 165px;
            min-height: 65px;
        }
        &__contacts {
            width: 180px;
            &-logo {
                max-width: 40px;
                height: 40px;
            }
            &-phone {
                font-size: 14px;
                line-height: 20px;
            }
            &-mail {
                font-size: 14px;
            }
        }
    }
    .about {
        &__info {
            &-header {
                max-width: 763px;
                font-size: 30px;
                line-height: 40px;
            }
            &-basic {
                font-size: 40px;
                line-height: 44px;
            }
            &-footer {
                max-width: 763px;
                font-size: 30px;
                line-height: 40px;
            }
        }
    }
    .example {
        &__tech {
            max-width: 569px;
        }
        &__title {
            max-width: 400px;
            font-size: 20px;
        }
        &__descr {
            max-width: 769px;
            font-size: 18px;
        }
        &__get {
            max-width: 600px;
            font-size: 30px;
        }
        &__plus {
            font-size: 20px;
            line-height: 25px;
        }
        &__equipment {
            font-size: 18px;
        }
        &__technologes {
            font-size: 18px;
        }
    }
    .profit {
        &__item {
            max-width: 310px;
            min-height: 490px;
            border-radius: 0 0 30px 30px;
            &-img {
                width: 270px;
                height: 155px;
            }
            &-descr {
                font-size: 20px;
                margin-top: 135px;
            }
        }
    }
    .term {
        &__img {
            width: 385px;
            height: 288px;
        }
        &__info {
            max-width: 465px;
            &-title {
                font-size: 20px;
            }
        }
        &__lists {
            margin-top: 50px;
        }
        &__list {
            font-size: 16px;
            &::before {
                width: 25px;
            }
        }
    }
    .loss {
        &__products {
            font-size: 38px;
        }
        &__item {
            font-size: 35px;
        }
    }
    .information {
        &__box {
            padding-top: 130px;
        }
        &__header {
            font-size: 24px;
        }
        &__section {
            &-title {
                font-size: 23px;
            }
            &-list {
                font-size: 23px;
                &::before {
                    width: 35px;
                } 
            }
            &-img {
                width: 450px;
                height: 173px;
            }
        }
        &__example {
            &-header {
                font-size: 23px;
            }
            &-list {
                font-size: 23px;
                &::before {
                    width: 35px;
                } 
            }
        }
        &__degision {
            font-size: 23px;
        }
    }
    .occupation {
        &__title {
            font-size: 40px;
        }
        &__item {
            &-img {
                max-width: 360px;
                height: auto;
            }
        }
        &__lists {
            max-width: 540px;
        }
        &__list {
            font-size: 16px;
            line-height: 26px;
            margin-top: 10px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }
    .footer {
        &__logo {
            max-width: 165px;
            min-height: 65px;
        }
        &__contacts {
            width: 180px;
            &-logo {
                max-width: 40px;
                height: 40px;
            }
            &-phone {
                font-size: 14px;
                line-height: 20px;
            }
            &-mail {
                font-size: 14px;
            }
        }
    }
}
@media(max-width: 993px) {
    .container {
        width: 763px;
    }
    .about {
        &__info {
            &-header {
                max-width: 569px;
                font-size: 20px;
                line-height: 30px;
            }
            &-basic {
                font-size: 30px;
                line-height: 34px;
            }
            &-footer {
                max-width: 569px;
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
    .example {
        &__tech {
            max-width: 420px;
        }
        &__title {
            max-width: 400px;
            font-size: 20px;
        }
        &__descr {
            max-width: 769px;
            font-size: 14px;
            margin: 30px 0 0 45px;
        }
        &__get {
            max-width: 600px;
            font-size: 25px;
        }
        &__plus {
            font-size: 16px;
            line-height: 25px;
        }
        &__equipment {
            font-size: 16px;
        }
        &__technologes {
            font-size: 18px;
        }
    }
    .profit {
        &__title {
            font-size: 24px;
        }
        &__item {
            max-width: 240px;
            min-height: 400px;
            border-radius: 0 0 30px 30px;
            &-img {
                width: 200px;
                height: 155px;
            }
            &-descr {
                font-size: 20px;
                line-height: 25px;
                margin-top: 135px;
            }
        }
    }
    .term {
        &__img {
            width: 305px;
            height: 225px;
        }
        &__info {
            max-width: 350px;
            &-title {
                font-size: 16px;
                line-height: 20px;
            }
        }
        &__lists {
            margin-top: 25px;
        }
        &__list {
            font-size: 12px;
            &::before {
                width: 20px;
            }
        }
    }
    .loss {
        &__products {
           max-width: 730px;
            font-size:28px;
        }
        &__wrapper {
            max-width: 580px;
        }
        &__item {
            font-size: 25px;
        }
    }
    .information {
        &__box {
            padding-top: 90px;
            border-radius: 50px;
        }
        &__header {
            font-size: 14px;
            line-height: 25px;
        }
        &__section {
            &-title {
                font-size: 14px;
                line-height: 25px;
            }
            &-list {
                font-size: 14px;
                line-height: 25px;
                &::before {
                    width: 25px;
                } 
            }
            &-img {
                width: 340px;
                height: 130px;
            }
        }
        &__example {
            &-header {
                font-size: 14px;
                line-height: 25px;
            }
            &-list {
                font-size: 14px;
                line-height: 25px;
                &::before {
                    width: 25px;
                } 
            }
        }
        &__degision {
            font-size: 14px;
            line-height: 25px;
        }
    }
    .occupation {
        &__title {
            font-size: 30px;
        }
        &__item {
            &-img {
                max-width: 250px;
                height: auto;
            }
        }
        &__lists {
            margin-top: 40px;
            max-width: 430px;
        }
        &__list {
            font-size: 14px;
            line-height: 23px;
            margin-top: 7px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }
}
@media (max-width: 763px) {
    .container {
        width: 569px;
    }
    .about {
        &__bg {
            img {
                border-radius: 25px 25px 40px 40px;
            }
        }
        &__info {
            border-radius: 25px 25px 40px 40px;
            &-header {
                max-width: 360px;
                font-size: 16px;
                line-height: 25px;
            }
            &-basic {
                font-size: 25px;
                line-height: 30px;
            }
            &-footer {
                max-width: 360px;
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
    .example {
        &__wrapper {
            flex-direction: column;
            padding: 0;
            
        }
        &__img {
            width: 100%;
            height: auto;
            margin: 0 auto;
        }
        &__tech {
            width: 100%;
            margin: 0 auto;
        }
        &__title {
            width: 100%;
            font-size: 20px;
            margin: 0 auto;
        }
        &__descr {
            width: 100%;
            font-size: 18px;
            margin: 30px auto;
        }
        &__get {
            width: 100%;
            font-size: 25px;
            margin: 0 auto;
        }
        &__plus {
            font-size: 16px;
            line-height: 25px;
            margin: 0 auto;
        }
        &__equipment {
            font-size: 16px;
            margin: 0 auto;
        }
        &__technologes {
            font-size: 18px;
            margin: 0 auto;
        }
    }
    .profit {
        &__title {
            font-size: 18px;
        }
        &__items {
            flex-direction: column;
        }
        &__item {
            margin-top: 90px;
            max-width: 100%;
            min-height: 400px;
            border-radius: 0 0 30px 30px;
            &:nth-child(1) {
                margin-top: 0;
            }
            &-img {
                width: 90%;
                height: auto;
            }
            &-descr {
                font-size: 20px;
                line-height: 25px;
                margin-top: 245px;
            }
        }
    }
    .term {
        &__wrapper {
            flex-direction: column;
            padding: 80px 10px 0 10px;
        }
        &__img {
            width: 100%;
            height: auto;
        }
        &__info {
            margin-top: 20px;
            width: 100%;
            &-title {
                font-size: 16px;
                line-height: 20px;
                width: 100%;
            }
        }
        &__lists {
            margin-top: 25px;
        }
        &__list {
            font-size: 12px;
            &::before {
                width: 20px;
            }
        }
    }
    .loss {
        &__products {
           max-width: 520px;
            font-size:20px;
        }
        &__wrapper {
            max-width: 420px;
        }
        &__item {
            font-size: 18px;
        }
    }
    .information {
        &__box {
            padding-top: 90px;
            border-radius: 50px;
        }
        &__header {
            font-size: 14px;
            line-height: 25px;
        }
        &__section {
            &-title {
                font-size: 14px;
                line-height: 25px;
            }
            &-list {
                font-size: 10px;
                line-height: 16px;
                &::before {
                    width: 25px;
                } 
            }
            &-img {
                width: 220px;
                height: 110px;
            }
        }
        &__example {
            &-header {
                font-size: 14px;
                line-height: 25px;
            }
            &-list {
                font-size: 14px;
                line-height: 25px;
                &::before {
                    width: 25px;
                } 
            }
        }
        &__degision {
            font-size: 14px;
            line-height: 25px;
        }
    }
    .occupation {
        &__title {
            font-size: 30px;
        }
        &__trait {
            max-width: 400px;
        }
        &__box {
            padding: 0 10px 0 10px;
        }
        &__item {
            flex-direction: column;
            justify-content: center;
            align-items:center;
            &-img {
                max-width: 100%;
                margin: 0 auto;
            }
        }
        &__lists {
           width: 100%;
           margin: 20px auto 0 auto;
        }
        &__list {
            font-size: 14px;
            line-height: 23px;
            margin-top: 7px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }
}
@media (max-width: 563px) {
    .container {
        width: 360px;
    }
    .header {
        &__logo {
            max-width: 120px;
            min-height: 45px;
        }
        &__contacts {
            margin-top: 5px;
            width: 160px;
            &-logo {
                max-width: 40px;
                height: 40px;
            }
            &-phone {
                font-size: 12px;
                line-height: 12px;
            }
            &-mail {
                font-size: 12px;
            }
        }
    }
    .about {
        &__bg {
            img {
                border-radius: 20px 20px 35px 35px;
            }
        }
        &__info {
            border-radius: 20px 20px 35px 35px;
            &-header {
                max-width: 220px;
                font-size: 14px;
                line-height: 20px;
            }
            &-basic {
                font-size: 18px;
                line-height: 25px;
            }
            &-footer {
                max-width: 220px;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    .example {
        &__wrapper {
            flex-direction: column;
            padding: 0 10px 0 10px;
        }
        &__img {
            width: 100%;
            height: auto;
            margin: 0 auto;
        }
        &__tech {
            width: 100%;
            margin: 0 auto;
        }
        &__title {
            width: 100%;
            font-size: 20px;
            margin: 0 auto;
        }
        &__descr {
            width: 100%;
            font-size: 18px;
            margin: 30px auto;
        }
        &__get {
            width: 100%;
            font-size: 25px;
            margin: 0 auto;
        }
        &__plus {
            font-size: 16px;
            line-height: 25px;
            margin: 0 auto;
        }
        &__equipment {
            font-size: 16px;
            margin: 0 auto;
        }
        &__technologes {
            font-size: 18px;
            margin: 0 auto;
        }
    }
    .profit {
        &__title {
            font-size: 18px;
            line-height: 23px;
        }
        &__items {
            flex-direction: column;
        }
        &__item {
            margin-top: 90px;
            max-width: 100%;
            min-height: 300px;
            border-radius: 0 0 30px 30px;
            &:nth-child(1) {
                margin-top: 0;
            }
            &-img {
                width: 90%;
                height: auto;
            }
            &-descr {
                font-size: 20px;
                line-height: 25px;
                margin-top: 160px;
            }
        }
    }
    .term {
        &__info {
            &-title {
                font-size: 14px;
                line-height: 18px;
                width: 100%;
            }
        }
        &__lists {
            margin-top: 15px;
        }
        &__list {
            width: 200px;
            line-height: 15px;
            margin: 20px auto;
            font-size: 12px;
            &::before {
                width: 20px;
            }
        }
    }
    .loss {
        &__products {
           max-width: 312px;
            font-size:12px;
        }
        &__wrapper {
            margin-top: 10px;
            max-width: 280px;
        }
        &__item {
            font-size: 12px;
        }
    }
    .footer {
        &__logo {
            max-width: 120px;
            min-height: 45px;
        }
        &__contacts {
            margin-top: 5px;
            width: 160px;
            &-logo {
                max-width: 40px;
                height: 40px;
            }
            &-phone {
                font-size: 12px;
                line-height: 12px;
            }
            &-mail {
                font-size: 12px;
            }
        }
    }
    .information {
        &__box {
            padding-top: 70px;
            border-radius: 30px;
        }
        &__header {
            font-size: 12px;
            line-height: 25px;
        }
        &__section {
            &-title {
                font-size: 10px;
                line-height: 20px;
            }
            &-wrapper {
                flex-direction: column;
            }
            &-lists {
                margin-left: 20px;
                order: 2;
            }
            &-list {
                font-size: 10px;
                line-height: 16px;
                &::before {
                    width: 15px;
                } 
            }
            &-img {
                order: 1;
                width: 220px;
                height: 110px;
            }
        }
        &__example {
            &-header {
                font-size: 12px;
                line-height: 20px;
            }
            &-list {
                font-size: 10px;
                line-height: 16px;
                &::before {
                    width: 15px;
                }
            }
        }
        &__degision {
            font-size: 12px;
            line-height: 20px;
        }
    }
    .occupation {
        &__title {
            font-size: 20px;
        }
        &__trait {
            max-width: 300px;
        }
        &__box {
            padding: 0 10px 0 10px;
        }
        &__item {
            flex-direction: column;
            justify-content: center;
            align-items:center;
            &-img {
                max-width: 100%;
                margin: 0 auto;
            }
        }
        &__lists {
           width: 100%;
           margin: 10px auto 0 10px;
        }
        &__list {
            font-size: 12px;
            line-height: 18px;
            margin-top: 7px;
            &::before {
                width: 10px;
                height: 10px;
            }
            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }
}
@media (max-width: 360px) {
    .container {width: 320px;}
    .about {
        &__bg {
            img {
                border-radius: 15px 15px 25px 25px;
            }
        }
        &__info {
            border-radius: 15px 15px 25px 25px;
        }
    }
    .example {     
        &__title {
            font-size: 12px;
        }
        &__descr {
            font-size: 14px;
            line-height: 20px;
        }
        &__get {
            font-size: 18px;
        }
        &__plus {
            font-size: 10px;
        }
        &__equipment {
            font-size: 12px;
            line-height: 15px;
        }
        &__technologes {
            font-size: 12px;
            line-height: 20px;
        }
    }
    .profit {
        &__container {
            padding: 0 10px 0 10px;
        }
        &__title {
            font-size: 18px;
            line-height: 23px;
        }
        &__items {
            flex-direction: column;
        }
        &__item {
            margin-top: 90px;
            max-width: 100%;
            min-height: 300px;
            border-radius: 0 0 30px 30px;
            &:nth-child(1) {
                margin-top: 0;
            }
            &-img {
                width: 90%;
                height: auto;
            }
            &-descr {
                font-size: 16px;
                line-height: 20px;
                margin-top: 160px;
            }
        }
    }
    .loss {
        &__products {
            max-width: 260px;
            font-size:10px;
        }
        &__wrapper {
            margin-top: 10px;
            max-width: 240px;
        }
        &__item {
            font-size: 10px;
        }
    }
    .information {
        &__box {
            padding: 30px 10px 20px 10px;
            border-radius: 30px;
        }
        &__header {
            font-size: 12px;
            line-height: 25px;
        }
        &__section {
            &-title {
                font-size: 10px;
                line-height: 20px;
            }
            &-wrapper {
                flex-direction: column;
            }
            &-lists {
                margin-left: 20px;
                order: 2;
            }
            &-list {
                font-size: 10px;
                line-height: 16px;
                &::before {
                    width: 15px;
                } 
            }
            &-img {
                order: 1;
                width: 220px;
                height: 110px;
            }
        }
        &__example {
        
            &-header {
                font-size: 12px;
                line-height: 20px;
            }
            &-lists {
                margin-left: 96px;
            }
            &-list {
                font-size: 10px;
                line-height: 16px;
                &::before {
                    width: 15px;
                }
            }
        }
        &__degision {
            font-size: 12px;
            line-height: 20px;
        }
    }
}