body {
    background: #969696;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
}
p, h1, h2, h3, h4, h5, h6, span, ul,li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "../blocks/header";
@import "../blocks/about";
@import "../blocks/example";
@import "../blocks/profit";
@import "../blocks/term";
@import "../blocks/los";
@import "../blocks/information";
@import "../blocks/occupation";
@import "../blocks/slogan";
@import "../blocks/footer";
@import "../blocks/arow";
@import "../blocks/modal";
@import "media";
