.about {
    &__bg {
       width: 100%;
       max-height: 724px;
       z-index: 12;
       img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 45px 45px 80px 80px;
            z-index: 0;
        }       
    }
    &__info {
        z-index: -1;
        position: relative;
        bottom: 120px;
        width: 100%;
        height: 625px;
        border-radius: 30px 30px 80px 80px;
        background: linear-gradient(0deg, rgba(217, 217, 217, 0), rgba(217, 217, 217, 0)),
        linear-gradient(180deg, #282828 72.76%, #9B9898 113.98%);
        box-shadow: 11px 12px 4px 0px #00000080;
        padding: 125px 21px 30px 51px;
        &-header {
            max-width: 1282px;
            // max-height: 153px;
            font-family: Inter;
            font-size: 42px;
            font-weight: 500;
            line-height: 50.83px;
            text-align: left;
            color: #fff;
            margin: 25px auto 0 auto;
        }
        &-basic {
            max-width: 1556px;
            // max-height: 116px;
            font-family: Inter;
            font-size: 48px;
            font-weight: 500;
            line-height: 58.09px;
            text-align: left;
            color: #EF891F;      
            margin: 32px auto 0 auto;       
        }
        &-footer {
            max-width: 1428px;
            // max-height: 153px;
            font-family: Inter;
            font-size: 42px;
            font-weight: 500;
            line-height: 50.83px;
            text-align: left;
            color: #fff;
            margin: 13px auto
        }
    }
}