.example {
    &__wrapper {
        padding:  0 54px 67px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background: linear-gradient(180deg, rgba(56, 56, 56, 0.8) 26.08%, rgba(217, 217, 217, 0.8) 143.84%);
    }
    &__img {
        max-width: 523px;
        max-height: 429px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__tech {
        max-width: 1091px;
    }
    &__title {
        max-width: 606px;
        height: 33px;
        border-bottom: 1px solid #EF7B00;
        color: #EF7B00;
        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
        line-height: 29.05px;
        text-align: left;
        margin-left: 18px;
    }
    &__descr {
        max-width: 952px;
        min-height: 570px;
        margin: 42px 0 0 92px;
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #fff;
        span {
            color: #EF7B00;
        }
    }
    &__get {
        max-width: 637px;
        font-family: Inter;
        font-size: 40px;
        font-weight: 500;
        line-height: 48.41px;
        text-align: left;
        color: #fff;
    }
    &__plus {
        width: 100%;

        font-family: Inter;
        font-size: 40px;
        font-weight: 500;
        line-height: 48.41px;
        text-align: left;
        color: #EF7B00;
    }
    &__equipment {
        max-width: 989px;
        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
        line-height: 29.05px;
        text-align: left;
        color: #fff;
    }
    &__list {
        list-style-type: none;
        margin: 27px 0 0 30px;
    }
    &__technologes {
        position: relative;
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.05px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #000;
       
        &::before {
            content: "";
            position: absolute;
            top: 15px;
            left: -30px;
            background-color: #000;
            width: 24px;
            height: 1px;
        }
    }
}